.services__container{
    grid-template-columns: repeat(3,270px);
    justify-content: center;
    column-gap: 1.8rem;
}
.services__content {
    position: relative;
    border: 1px solid rgba(0,0,0,0.1);
    background-color: var(--container-color);
    padding: 6rem 0 2rem 2.5rem;
}
.services__icon{
    display: block;
    font-size: 2rem;
    color: var(--title-color);
    margin-bottom: var(--mb-1);
}
.services__title{
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-1);
    font-weight: var(--font-medium);
}
.services__modal{
    display: none;
}